* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  margin-top: 6px;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: normal;
  text-align: right;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.promo {
  min-height: 800px;
  background: url("../img/bgcar.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.causes {
  min-height: 900px;
  padding: 79px 0 68px 0;
}

.causes h3.causes_word {
  max-width: 112px;
  min-height: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.causes h2.causes_header {
  color: #222222;
  font-size: 38px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 38px 0 40px 0;
}

.causes_box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.causes_item {
  min-width: 113px;
  min-height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  margin-bottom: 63px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
}

.causes_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 35px;
}

.causes_text span {
  color: #1eacc7;
  font-size: 17px;
  font-weight: normal;
}
